<div class="container">
  <h1>Redefinir Senha</h1>
  <form action="/redefinir_senha/{{token}}" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    <label for="password">Nova Senha</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Digite sua nova senha"
      required
    />
    <button type="submit">Redefinir Senha</button>
  </form>
</div>
