<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobFinder</title>
  <link rel="stylesheet" href="/{{style}}">
</head>
<body class="body">
  <header class="header">
    <div class="logo">JobFinder</div>
  </header>
  
  {{{body}}}
  
</body>
</html>
