<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobFinder</title>
  <link rel="stylesheet" href="/assets/css/{{style}}">
</head>
<style>
  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: none; /* Remove fundo indesejado */
  padding: 5px 0; /* Reduz padding para evitar aparência de caixa */
  font-size: 14px;
  color: #6c757d; 
      pointer-events: none; /* Impede interações com o footer */
}

footer p {
  margin: 0; 
  pointer-events: auto; /* Permite interações apenas no texto */
}

</style>
<body>
  {{{body}}}
</body>

</html>
  <footer>
  <p>&copy; 2024 JobFinder</p>
</footer>