{% extends 'core/base.html' %}

{% block title %}
  Cadastro de 
  {% if user_type == 'candidate' %}
    Candidato
  {% else %}
    Empregador
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    Cadastro de 
    {% if user_type == 'candidate' %}
      Candidato
    {% else %}
      Empregador
    {% endif %}
  </h2>

  <form method="post">
    {% csrf_token %} {{ form.as_p }} <button type="submit">Finalizar Cadastro</button>
  </form>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dateElement = document.getElementById('id_birth_date');
    if (dateElement) {
      IMask(dateElement, { mask: '00/00/0000' });
      
    }

    const cpfElement = document.getElementById('id_cpf');
    if (cpfElement) {
      IMask(cpfElement, { mask: '000.000.000-00' });
    }
    const cepElement = document.getElementById('id_cep');
    if (cepElement) {
      IMask(cepElement, { mask: '00000-000' });
    }
    const phoneElement = document.getElementById('id_phone_number');
    if (phoneElement) {
        IMask(phoneElement, {
            mask: [
                { mask: '(00) 0000-0000' },
                { mask: '(00) 00000-0000' }
            ]
        });
    }
  });
</script>
{% endblock %}
