body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.svg {
    padding: 10;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar h1 {
    font-size: 24px;
}

.navbar-menu svg {
    width: 25px;
    height: 25px;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-input {
    margin-left: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100vh;
    max-width: 70%;
}

.search-button {
    background-color: #fcef02;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.2s;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #2980b9;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-menu li a:hover {
    background-color: #c0c0c0;
}

.main-content {
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categories {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-button {
    padding: 10px 20px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.category-button:hover {
    background-color: #bdc3c7;
}

.job-card {
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Título do card */
.job-card h2 {
    font-size: 1.2rem;
}

/* Preço do produto */
.job-card p {
    font-size: 1rem;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebra de linha se necessário */
    justify-content: center;
    /* Centraliza os cards */
    gap: 20px;
    /* Espaçamento entre os cards */
    list-style-type: none;
    /* Remove marcadores de lista */
    padding: 0;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.job-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0px;
}

.job-company {
    margin: 0px;
    font-size: 14px;
    color: #7f8c8d;
}

.register-button {
    background-color: #dbd534;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.2s;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {

    background-color: #2980b9;
}