body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar h1 {
  font-size: 24px;
}

.navbar-menu svg {
  width: 25px;  
  height: 25px; 
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #fcef02;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.2s;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #2980b9;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-menu li a:hover {
  background-color: #c0c0c0;
}

/* Container principal */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/* Título */
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Botões superiores */
.btn-back {
  background-color: #fcef02;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.2s;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.btn-back:hover, .btn-add:hover {
  background-color: #0056b3;
}

/* Grid de cards */
.card-grid {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
  justify-content: center; /* Centraliza os cards */
  gap: 20px; /* Espaçamento entre os cards */
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0;
}

/* Card individual */
.card {
  background-color: white; /* Fundo branco para contraste */
  color: black; /* Texto preto no card */
  width: 200px; /* Largura fixa para os cards */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
  padding: 15px;
}

/* Título do card */
.card h2 {
  font-size: 1.2rem;
}

/* Preço do produto */
.card p {
  font-size: 1rem;
}

/* Imagem do produto */
.product-image {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 50%; /* Torna a imagem circular */
}

/* Botões dentro dos cards */
.actions {
  display: flex;
  justify-content: space-between; /* Espaça os botões igualmente */
}

.btn-edit, .btn-delete {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-edit {
  background-color: #28a745; /* Verde para editar */
  color: white;
}

.btn-delete {
  background-color: #dc3545; /* Vermelho para excluir */
  color: white;
}

.btn-edit:hover, .btn-delete:hover {
  opacity: 0.9; /* Efeito hover nos botões */
}

/* Estilo para a navegação inferior */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #333;
}

.bottom-nav .nav-item {
  color: white;
  text-decoration: none;
}

.bottom-nav .nav-item.active {
  font-weight: bold;
}

.job-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}