.jobs-grid ul {
  list-style-type: none;
  display: grid; /* Garante que os elementos sejam organizados em grid */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cria colunas responsivas */
  gap: 20px; /* Espaçamento entre os elementos */
  padding: 0;
  margin: 0;
}

li.job-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  overflow: hidden; /* Garante que imagens não ultrapassem os limites do card */
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card img {
  width: 100%; /* Faz com que a imagem ocupe toda a largura disponível */
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
